#wrapper {
  position: relative;
  width: 200px;
  height: 200px;
}

.content {
  color: #ffffff;
  font-size: 26px;
  font-weight: bold;
  text-shadow: -1px -1px 1px #000, 1px 1px 1px #000;
  position: relative;
  z-index: 100;
}

.background {
  color: #999999;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
}
.material-icons.md-16 {
  font-size: 16px;
}
.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-28 {
  font-size: 28px;
}
.material-icons.md-30 {
  font-size: 30px;
}
.material-icons.md-32 {
  font-size: 32px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-40 {
  font-size: 40px;
}
.material-icons.md-42 {
  font-size: 42px;
}
.material-icons.md-46 {
  font-size: 46px;
}
.material-icons.md-48 {
  font-size: 48px;
}
